@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.utility-bar-container {
    height: 50px;
    padding: 25px;
    display: flex;
}

.utility-bar-logo {
    height: 50px;
    aspect-ratio: 1;
    background-color: white;
    z-index: 1;
}

.utility-bar-content {
    width: 100%;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
}

.utility-bar-content > div {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    position: absolute;
}

.utility-bar-content ul {
    white-space: nowrap;
    display: flex;
    float: right;
}

.utility-bar-content li {
    display: inline;
    margin: 0 2em 0 0;
    white-space: nowrap;
    position: relative;
}

.strikethrough {
    width: 0%;
    height: 2px;
    background-color: white;
    top: 50%;
    position: absolute;
    transition: .1s;
    pointer-events: none;
}

.mobile-utility-bar-content li .strikethrough, .utility-bar-content li .strikethrough {
    top: 50%;
    width: 0%;
    white-space: nowrap;
    display: flex;
    float: right;
}

.mobile-utility-bar-content li:hover .strikethrough, .utility-bar-content li:hover .strikethrough {
    width: 100%;
}

.mobile-utility-bar-content .strikethrough.active, .utility-bar-content .strikethrough.active {
    width: 100%;
}

.mobile-utility-bar-content {
    display: none;
    padding: 0 25px;
    text-transform: lowercase;
    font-size: 20px;
    white-space: nowrap;
    padding-bottom: 20px;
}

.mobile-utility-bar-content ul {
    display: flex;
    justify-content: space-around;
}

.mobile-utility-bar-content li {
    position: relative;
    width: fit-content;
}

.content-container {
    flex: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation-bar-container {
    height: 100%;
    width: min(200px, 18vw);
    display: inline-block;
    padding: 0 25px;
}

.navigation-bar-container li {
    user-select: none;
    font-size: 25px;
    margin: 12px 0;
    position: relative;
    width: fit-content;
}

.navigation-bar-container .strikethrough.active {
    width: 100%;
}

.navigation-bar-container li:hover .strikethrough {
    width: 100%;
}

.content {
    flex: 1;
    width: 100%;
    background: linear-gradient(#000c, #0000), url(../assets/content-bg.png) repeat fixed;
    background-size: 200px;
    padding-bottom: 100px;
}

.content::after {
    filter: invert(100%);
}

.article-container {
    padding: 0px 8px;
    animation: fade 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.article-title {
    font-size: min(100px, 8vw);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 10px;
    transform: scaleY(0.8);
    margin-top: -.2em;
    width: fit-content;
    text-shadow:
    -1.5px 0px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    1.5px 0px 0 #fff;
    /* transition: all .1s; */
}

.article-text {
    margin-left: 7px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    width: 70%;
}

.article-gallery-wrapper {
    margin: 50px 0px 50px;
    display: inline-block;
    width: fit-content;
    max-width: 70%;
    /* width: min(70%, 1000px); */
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.article-gallery {
    display: flex;
    gap: 50px;
}

.article-gallery-item {
    object-fit: cover;
    height: 200px;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border: 6.5px solid transparent;
    background-clip: padding-box;  
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

::-moz-selection { /* Code for Firefox */
    background: #fff4;
}
  
::selection {
    background: #fff4;
}

@media (max-width: 700px) {
    .content-container {
        flex-flow: column;
    }

    .content-container > .navigation-bar-container {
        width: 100%;
        padding: 0;
        height: fit-content;
        margin-bottom: 10px;
        font-size: 20px;

    }

    .content-container > .navigation-bar-container ul {
        width: calc(100% - 50px);
        justify-content: space-between;
        display: flex;
        padding: 0 25px;
    }

    .content-container > .navigation-bar-container li {
        text-align: center;
        font-size: 20px;
    }

    .utility-bar-content {
        display: none;
    }

    .mobile-utility-bar-content {
        display: block;
    }

    .utility-bar-logo {
        margin: 0 auto;
    }

    .article-wrapper {
        border-top: 6px solid transparent;
        border-image: 6 repeating-linear-gradient(45deg, #fff3 0, #fff3 30px, transparent 0, transparent 40px);
        padding-top: 20px;
    }

    .article-container {
        padding: 0px 16px;
    }
    
    .article-title {
        font-size: min(100px, 13vw);
    }

    .article-gallery-wrapper {
        max-width: 100%;

    }

    .article-gallery {
        width: 100%;
    }

    .article-text {
        margin: 0;
        width: 100%;
        line-height: 1.7;
        font-size: 12pt;
        padding: 0;
    }
}

a {
    cursor: pointer;
}