<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
    <link rel="stylesheet" href="./css/reset.css"/>
    <link rel="stylesheet" href="./css/app.css"/>

    <link rel="stylesheet" href="./views/projects-view/projects.css"/>
    <link rel="stylesheet" href="./views/work-view/work.css"/>
    <link rel="stylesheet" href="./views/hero-view/hero.css"/>
</head>
<body>
    <div id="app">
        <div class="utility-bar-container">
            <router-link
                to="/"
                class="utility-bar-logo"
            :style="{ backgroundPosition: `${iconPos[0]}% ${iconPos[1]}%`, filter: `hue-rotate(${iconPos[0]/100 * 360}deg)`}"
            ></router-link>

            <div class="utility-bar-content">
                <component 
                    class="utility-bar-content"
                    :is="utilityBarComponent"
                    @set-utility-data="onSetUtilityData"
                />
            </div>
        </div>
        <div class="content-container">
            <navigation-bar v-if="$route.path !== '/'">
            </navigation-bar>
            <component 
                class="mobile-utility-bar-content"
                v-if="isMobile"
                :is="utilityBarComponent"
                @set-utility-data="onSetUtilityData"
            ></component>
            <router-view 
                class="content"
                @set-utility-bar="onSetUtilityBar"
            />
        </div>
    </div>
    <script src="./app.js" type="module"></script>
</body>
</html>